 .container-fluid.main-content {
  transition: margin-left 0.3s ease;
  min-height: 100vh;
  width: 100%;
}

.content-expanded {
  margin-left: 220px;
}

.content-collapsed {
  margin-left: 20px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
} 
